---
import Layout from "../../layouts/Layout.astro";
import TheHeader from "../../components/Astro/TheHeader.astro";
import TheFooter from "../../components/Astro/TheFooter.astro";
import BackTopComp from "../../components/Astro/BackTopComp.astro";
import NavigateFurther from "../../components/Astro/NavigateFurther.astro";
---

<Layout
  title="Skansen ⎮ GDPR"
  description="Få detaljer om vores GDPR-overholdelse. Læs om, hvordan vi beskytter dine persondata og sikrer din privatlivsbeskyttelse. Kontakt os for spørgsmål eller yderligere oplysninger."
>
  <TheHeader
    indexBg="none"
    fitBg="none"
    svomBg="none"
    cafeBg="none"
    eventBg="none"
    opholdBg="none"
    omBg="#0073c3"
    fhDDBg="none"
    weDDBg="none"
    gdDDBg="#0073c3"
    joDDBg="none"
    saDDBg="none"
    shDDBg="none"
    viDDBg="none"
    erDDBg="none"
  />
  <main>
    <div class="content-cont flex column" id="hero">
      <section>
        <h1 class="flex wrap">
          Beskyttelse af personlige oplysninger<span>& GDPR</span>
        </h1>
        <p class="p-hero">
          Databeskyttelse har høj prioritet hos os, og vi ønsker åbenhed og
          transparens omkring, hvordan vi behandler dine personlige oplysninger.
          Vi har derfor udarbejdet en politik for, hvordan dine personlige
          oplysninger behandles og beskyttes.
        </p>
      </section>
    </div>
    <!-- Red Container -->
    <div class="content-cont red-cont wrapper flex wrap">
      <section class="third flex column">
        <h3>Hvorfor anvender vi dine personlige oplysninger?</h3>
        <p>
          Vi anvender dine personlige oplysninger for at opfylde vores
          forpligtelser i forbindelse med lovgivning, retskendelser og
          myndighedsbeslutninger. Dette omfatter brugen af dine personlige
          oplysninger til indsamling og kontrol af regnskabsoplysninger ved
          overholdelse af regnskabsregler.
        </p>
      </section>
      <section class="third flex column">
        <h3>Hvilke typer af personlige oplysninger anvender vi?</h3>
        <p>
          Hvilke typer af personlige oplysninger anvender vi? Vi anvender
          følgende kategorier inden for personlige oplysninger
        </p>
        <ul>
          <li>kundenummer</li>
          <li>ordrenummer</li>
          <li>navn</li>
          <li>Postadresse</li>
          <li>Telefonnuummer</li>
          <li>E-mailadresse</li>
          <li>Transaktionsbeløb</li>
          <li>Transaktionsdato</li>
        </ul>
      </section>
      <section class="third flex column">
        <h3>
          Hvilken lovmæssig ret har vi til at anvende dine person- lige
          oplysninger?
        </h3>
        <p>
          Vi anvender dine personlige oplysninger for at opfylde vores
          forpligtelser i forbindelse med lovgivning, retskendelser og
          myndighedsbeslutninger. Dette omfatter brugen af dine personlige
          oplysninger til indsamling og kontrol af regnskabsoplysninger ved
          overholdelse af regnskabsregler.
        </p>
      </section>
      <section class="third flex column">
        <h3>Hvor længe opbevarer vi dine oplysninger?</h3>
        <p>
          Vi opbevarer dine oplysninger i overensstemmelse med den danske
          regnskabslov. Herefter vil alle oplysninger blive slettet eller
          anonymiseret på en sådan måde, at oplysningerne ikke længere kan
          identificere dig
        </p>
      </section>
      <section class="third flex column">
        <h3>Hvem er ansvarlig for dine personlige oplysninger?</h3>
        <p>
          Udbyderen er ansvarlig for de personlige oplysninger, du giver os, og
          er ansvarlig for dine personlige oplysninger i henhold til gældende
          lov om databeskyttelse.
        </p>
      </section>
      <section class="third flex column">
        <h3>Hvor opbevarer vi dine oplysninger?</h3>
        <p>
          De oplysninger, som vi indsamler om dig, lagres i Danmark, nærmere
          bestemt hos CompuSoft A/S Danske hostingcentre og udbyderens egen
          server. En sådan overførsel af dine personlige oplysninger udføres i
          overensstemmelse med gældende lovgivning.
        </p>
      </section>
      <div class="full">
        <section>
          <h3>Hvem har adgang til dine oplysninger?</h3>
          <p>
            Dine oplysninger benyttes kun af betroet personale hos udbyderen.
            Udbyderen agerer som dataansvarlig for dine personlige oplysninger
            og anvender de personlige oplysninger på egne vejene. Udbyderen
            benytter dog flere databehandlere, der sikrer at vi kan levere den
            ønskede vare og service til vores kunder. Vi formidler, sælger eller
            udveksler aldrig dine personlige oplysninger til tredjepart med
            henblik på markedsføring uden for udbyderen. Personlige oplysninger,
            som videregives til tredjepart, anvendes kun til at betjene dig.
            Under hver navngiven proces nedenfor kan du finde de enkelte
            kategorier af tredjeparter.
          </p>
          <ul>
            <li>Betalingskort transaktioner: DIBS eller QuickPay</li>
            <li>Booking Transaktioner: CompuSoft A/S</li>
          </ul>
        </section>
      </div>
    </div>
    <!-- Red Container -->
    <!-- Blue Container -->
    <div class="content-cont blue-h2">
      <h2>Retten til adgang:</h2>
    </div>
    <div class="content-cont blue-cont wrapper flex wrap">
      <section class="third flex column">
        <h3>Hvorfor anvender vi dine personlige oplysninger?</h3>
        <p>
          Du har til enhver tid ret til at få oplyst, hvilke personlige
          oplysninger vi har registreret om dig. Kontakt Udbyderen, så sender vi
          dine personlige oplysninger via e-mail.
        </p>
      </section>
      <section class="third flex column">
        <h3>Retten til at korrigere data:</h3>
        <p>
          Du har ret til at anmode om at få dine personlige oplysninger rettet,
          hvis de er ukorrekte, herunder ret til at gøre ufuldstændige
          oplysninger fyldestgørende.
        </p>
      </section>
      <section class="third flex column">
        <h3>Din ret til at modsætte dig direkte markedsføring:</h3>
        <p>
          Du har ret til at modsætte dig direkte markedsføring, herunder
          profilanalyse til direkte markedsføringsformål, ved at kontakte
          udbyderen direkte.
        </p>
      </section>

      <div class="full">
        <section>
          <h3>Retten til at slette data:</h3>
          <p>
            Du har til enhver tid ret til at få slettet de personlige
            oplysninger, som vi benytter, undtagen i følgende situationer:
          </p>
          <ul>
            <li>Du har en uafklaret sag hos os.</li>
            <li>Du har en åben bestilling, som endnu ikke er afsluttet</li>
            <li>
              Du har et økonomisk mellemværende med udbyderen, uanset
              betalingsmåde
            </li>
            <li>
              Du er under mistanke for at have eller har misbrugt vores
              serviceydelser inden for de sidste fire år
            </li>
            <li>
              Din gæld er videresolgt til tredjepart inden for de seneste tre år
              eller inden for et år for afdøde kunder
            </li>
            <li>
              Hvis du har foretaget et køb, beholder vi dine personlige
              oplysninger i forbindelse med din transaktion af hensyn til
              bogføringsreglerne
            </li>
          </ul>
        </section>
      </div>
      <div class="full">
        <section>
          <h3>
            Din ret til at modsætte dig anvendelse baseret på legitime
            interesser:
          </h3>
          <p>
            Du har ret til at modsætte dig anvendelse af dine personlige
            oplysninger, der er baseret på udbyderens retmæssige interesser.
            Udbyderen fortsætter ikke med at anvende dine personlige
            oplysninger, medmindre vi kan påvise en saglig grund til deres
            anvendelse, som tilsidesætter dine ønsker og rettigheder og/eller på
            baggrund af lovmæssige krav.
          </p>
        </section>
      </div>
      <div class="full">
        <section>
          <h3>Retten til begrænset anvendelse:</h3>
          <ul>
            <li>
              Du har ret til at anmode om begrænset anvendelse af dine
              personlige oplysninger hos udbyderen under følgende
              omstændigheder:
            </li>
            <li>
              Hvis du gør indsigelse mod anvendelse baseret på udbyderens
              retmæssige interesser, skal udbyderen begrænse al anvendelse af de
              pågældende personlige oplysninger, mens det kontrolleres, om vores
              legitime interesser går forud for dine.
            </li>
            <li>
              Hvis du mener, at dine personlige oplysninger er ukorrekte, skal
              udbyderen begrænse al anvendelse af de pågældende data, mens
              rigtigheden af disse personlige oplysninger kontrolleres.
            </li>
            <li>
              Hvis behandlingen er uretmæssig, kan du modsætte dig sletning af
              dine personlige oplysninger og i stedet anmode om begrænset
              anvendelse af dine personlige oplysninger
            </li>
            <li>
              Hvis udbyderen ikke længere har brug for dine personlige
              oplysninger, men de er påkrævede for at kunne gøre et lovmæssigt
              krav gældende.
            </li>
          </ul>
        </section>
      </div>
      <section class="third flex column">
        <h3>Hvordan kan du udøve dine rettigheder?</h3>
        <p>
          Vi tager databeskyttelse meget alvorligt, og derfor kan du altid
          kontakte udbyderen med forespørgsler.
        </p>
      </section><section class="third flex column">
        <h3>Retten til at klage til en myndighed:</h3>
        <p>
          Hvis du mener, at udbyderen behandler dine personlige oplysninger på
          en ukorrekt måde, kan du kontakte CompuSoft på info@compusoft.dk. Du
          har også mulighed for at klage til Datatilsynet.
        </p>
      </section>
    </div>
    <!-- Blue Container -->
    <NavigateFurther />
    <BackTopComp href="#hero" />
  </main>
  <TheFooter />
</Layout>

<style lang="scss">
  @import "../../css/style.scss";
  /* TOP HERO */
  .content-cont {
    section {
      h1 {
        width: 60%;
        span {
          margin-left: auto;
          margin-top: -30px;
          font-family: "Palanquin";
          font-size: $font-h1;
          font-weight: $font-weight-light;
        }
      }
      p {
        max-width: 800px;
      }
    }
  }
  @media (max-width: 1650px) {
    .content-cont {
      section {
        h1 {
          width: 100%;
          span {
            margin-left: 10px;
            margin-top: 0;
          }
        }
      }
    }
  }
  /**/
  .wrapper {
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    .third {
      max-width: 416px;
    }
    .full {
      width: 100%;
      section {
        max-width: 700px;
      }
    }
    section {
      color: $pure-white;
      padding: 25px;
      row-gap: 10px;
      ul {
        list-style-type: disc;
        list-style-position: inside;
        margin-top: 10px;
      }
    }
  }
  /* Blue and Red*/
  .blue-h2 {
    margin-top: 50px;
    margin-bottom: -20px;
  }
  .red-cont {
    .full {
      background-color: $cornell-red;
    }
    section {
      background-color: $cornell-red;
    }
  }
  .blue-cont {
    .full {
      background-color: $denim;
    }
    section {
      background-color: $denim;
    }
  }
  @media (max-width: 1065px) {
    .wrapper {
      gap: 20px;
      margin-top: 50px;
      justify-content: center;
      .third {
        max-width: 100%;
      }
    }
  }
</style>
