---
// ASTRO
import Layout from "../../layouts/Layout.astro";
import TheHeader from "../../components/Astro/TheHeader.astro";
import TheFooter from "../../components/Astro/TheFooter.astro";
import DetailComp from "../../components/Astro/DetailComp.astro";
import NavigateFurther from "../../components/Astro/NavigateFurther.astro";
import BackTopComp from "../../components/Astro/BackTopComp.astro";
---

<Layout
  title="Skansen ⎮ Salgsbetingelser"
  description="Få klarhed om vores salgsvilkår. Opdag leveringsmuligheder, returneringspolitik og garantiinformation for en problemfri købsoplevelse."
>
  <TheHeader
    indexBg="none"
    fitBg="none"
    svomBg="none"
    cafeBg="none"
    eventBg="none"
    opholdBg="none"
    omBg="#0073c3"
    fhDDBg="none"
    shDDBg="none"
    weDDBg="none"
    gdDDBg="none"
    joDDBg="none"
    saDDBg="#0073c3"
    viDDBg="none"
    erDDBg="none"
  />
  <main>
    <div id="hero"></div>
    <div class="full-width flex align column">
      <section class="content-cont">
        <h1>Salgsbetingelser for billetkøb</h1>
        <p>
          Følgende betingelser gør sig gældende for events, arrangementer og
          forløb på Skansen
        </p>
        <div class="flex column">
          <DetailComp
            h3="§1 Omfang af disse betingelser"
            p="Disse betingelser dækker over køb af billetter til arrangementer og forløb på SKANSEN, herunder (men ikke begrænset til) faste arrangementer som Ladies Night, Gusmaraton, Familieaften, Møg Dårlig FOrm, Møg Stiv Mand og Babysvømningsforløb. Fælles for alle køb, hvor betingelserne dækker, er at salget sker gennem SKANSENS eventplatform på https://v3.onlinebooking.dk/show/v3norresunshop."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="§2 Betaling og priser"
            p="Alle arrangementer/forløb skal betales online på SKANSENS Eventplatform. Det er ikke muligt at bestille telefonisk/mail. Ved manglende betaling, annulleres ordren automatisk. Alle priser på arrangementer / forløb er opgivet på SKANSENS hjemmeside, under det pågældende arrangemnt. Priser er opgivet uden eventuelle gebyrer."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="§3 Betalingsløsning"
            p="Alle betalinger online foregår gennem Nets med enten kort eller mobilepay."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="§4 Aflysning af arrangement/forløb"
            p="Kan et arrangement/forløb ikke gennemføres, af årsager som SKANSEN kan være holdes til grund for, vil SKANSEN altid tilbyde en plads på næste start/event eller refundere den fulde betaling tilbage. Eksempler kan være for få deltagere, personalemangel, eller lukkede faciliteter. Ved enkelte aflysninger, ofr eksempel et babysvømningshold aflyses grundet instruktørs sygdom, vil SKANSEN tilbyde en erstatningsgang, ligesom deltagerne er velkomne til at svømme hvis de ikke er varskoet tids nok om aflysningen."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="§5 Refusion og fortrydelseslsret"
            p="I henhold til 'Lov om visse forbrugeraftaler §17 stk. 2 jf. §9 stk. 2 nr. 2a' er køb af billetter ikke omfattet af fortrydelsesretten. SKANSEN refunderer ikke billetter til arrangementer eller forløb. Det er tilladt at videresælge en billet til arrangement, i så fald skal SKANSEN orienteres på mail om navneskift på billetten. Specificeret: Babysvømning: Har man købt og betalt en billet til et babysvømningsforløb, kan man kun i særlige tilfælde få beløbet refunderet. SKANSEN kan ikke give eksempler på hvilket særlige tilfælde dækker, og vil vurdere fra gang til gang. Du kan altid bruge dine seks adgange til svømning indenfor svømmehallens åbningstider, hvis du ikke kan deltage på dit forløb. Events: Din billet dækker det købte event på den gældende dato og kan ikke byttes/tilbagebetales. Bliver du forhindret grundet sygdom, kan du bytte din billet til en wellnessbillet på en vilkårlig dag. Forløb: Kan du af helbredsmæssige årsager ikke deltage på forløbet, kan billetten byttes til enten svømme- eller træningsbilletter. SKANSEN annullerer kun i særlige tilfælde pladsen"
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="§5 Refusionsgebyr"
            p="Annulleres din billet og SKANSEN tilbagebetaler, efter anmodning fra kunden, tager SKANSEN et administrationsgebyr på 50,-."
            p2=" "
            p3=" "
            p4=" "
          />
        </div>
      </section>

      <section class="content-cont">
        <h2>Salgs- og leveringsbetingelser</h2>
        <p>
          I det nedenstående finder du nyttige informationer i forbindelse med
          brug af online booking. Du kan blandt læse om, hvordan vi behandler
          dine indtastede oplysninger, hvordan du modtager din kvittering i
          forbindelse med et køb og meget mere. Når der i det nedenstående
          skrives NORRESUN anvendes det som et synonym for Nørresundby
          Idrætscenter
        </p>

        <div class="flex column">
          <DetailComp
            h3="Betaling"
            p="Alle priser oplyst i NORRESUN S online bookingsystemet er ligesom alle andre steder på hjemmesiden oplyst i danske kroner inklusive moms og alle afgifter med mindre andet er oplyst og klart fremgår i den pågældende situation. Betaling foregår ved at benytte et af de godkendte betalingskort/ kreditkort i online booking, herunder blandt andet Dankort, Visa, Mastercard og Diners. Der er ikke pålagt et gebyr på handel, der foregår gennem online booking."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Informationer om handel på internettet"
            p="Du kan trygt handle på internettet gennem vores online bookingsystem. Du er som forbruger som udgangspunkt sikret i forhold til eventuel misbrug af dit kreditkort på nettet, derfor er der ikke nogen selvrisiko ved misbrug af dit betalingskort via internettet. Du kan læse mere om, hvordan du som forbruger skal forholde dig til betalinger på nettet på følgende hjemmesider: www.betaling.dk, www.forbrug.dk"
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Forsendelse og levering"
            p="Alle betalinger online foregår gennem Nets med enten kort eller mobilepay."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Forsendelse og levering"
            p="Du vil ved booking og betaling af en hytte, et udlejningstelt, en plads til eget telt, eller en plads til egen campingvogn få forevist en kontrakt fra NORRESUN , hvori regnskabet for dit køb fremgår. Kontrakten kan printes ud fra hjemmesiden efter gennemført booking, og fremsendes ligeledes via e-mail umiddelbart efter købet, hvis korrekt e-mailadresse er oplyst af køber Levering af det bestilte produkt sker ved ankomst hos NORRESUN på ankomstdagen (og afsluttes ved afrejse på afrejsedagen). Begge disse tidspunkter oplyses i den ovennævnte kontrakt."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Fortrydelsesret og refusion"
            p="Du har mulighed for at annullere din booking på følgende vilkår: 1. Hvis du afbestiller indenfor 3 dage efter bestillingen er foretaget, så refunderes hele beløbet. Ellers gælder nedenstående. 2. Hvis du afbestiller mere end 30 dage før ankomst får du hele beløbet godtgjort med undtagelse af et administrationsgebyr på Dkk. 200,-. 3. Hvis du afbestiller mindre end 30 dage og mere end 14 dage før ankomst, kan du få halvdelen af beløbet refunderet. 4. Hvis du afbestiller mindre end 14 dage før ankomst, mister du hele det indbetalte beløb."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Registrering af oplysninger"
            p="NORRESUN registrerer dit navn, din adresse, din e-mail samt andreoplysninger afgivet i forbindelse med købet i sit kundekartotek. Oplysningerne videregives ikke, men NORRESUN beholder registreringen i 5 år. NORRESUN anvender serverside cookies og en sikker forbindelse til at skabe sikkerheden om de oplysninger, som du afgiver på siden. Ved betaling med kreditkort sker registreringen via en sikker server, hvor oplysningerne krypteres før de sendes over internettet."
            p2=" "
            p3=" "
            p4=" "
          />
          <DetailComp
            h3="Reklamationsbehandling"
            p="Hvis du af en eller anden grund ikke modtager din kontrakt, som bekræfter dit køb, og du ikke har modtaget en fejlmeddelelse fra systemet, så kan du skrive til nedenstående adresse eller telefonnummer. Klager over bookingforløbet, selve bookingen eller produktet (opholdet) skal ske indenfor rimelig tid, efter du har opdaget fejlen eller burde have opdaget fejlen ved almindelig gennemgang af din kontrakt. Du kan klage skriftligt eller mundtligt. Ét år efter modtagelsen af varen (opholdet) ophører retten til at klage i henhold til Købelovens §83, stk. 1, medmindre andet er aftalt. Når NORRESUN modtager din klage over en vare, behandles klagen hurtigst muligt. NORRESUN vil tage stilling til om den modtagne vare skal refunderes, ombyttes eller om der skal gives prisnedslag."
            p2=" "
            p3=" "
            p4=" "
          />
        </div>
      </section>
    </div>
    <div class="full-width">
      <section class="info">
        <h3>Virksomhedsoplysninger:</h3>
        <p class="p-hero">Den Selvejende Institution SKANSEN</p>
        <p class="p-hero">Lerumbakken 11</p>
        <p class="p-hero">9400 Nørresundby</p>
        <p class="p-hero">Tlf: 98 17 43 66</p>
        <p class="p-hero">Email: info@oplevskansen.dk</p>
        <p class="p-hero">Cvr: 32189512</p>
      </section>
    </div>
    <NavigateFurther />
    <BackTopComp href="#hero" />
  </main>
  <TheFooter />
</Layout>

<style lang="scss">
  @import "../../css/style.scss";
  main {
    section {
      max-width: 700px;
      padding: 25px 0px;
      p {
        margin: 25px 0px;
        width: 90%;
      }
      div {
        gap: 45px;
      }
    }

    .info {
      color: $pure-white;
      background-color: $denim;
      width: 78%;
      max-width: none;
      margin: 25px 0px;
      padding: 15px 12%;

      h3,
      p {
        margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 450px) {
    main {
      section {
        p {
          width: 100%;
        }
      }
      .info {
        width: 100%;
      }
    }
  }
</style>
